@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #242424;
    box-sizing: border-box;
    height: 100vh;
    border-top: 5px solid #1166ce;
}

header {
    text-align: center;
    background-color: #0A2A57;
    padding: 5px 0 1em;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 4px;
    right: 10px;
    background-color: #1166ce;
    padding: 7px 5px;
    border-radius: 0 0 3px 3px;
}

.page-title {
    color: #ffffff;
    margin: .8em 0;
    font-size: 2.1em;
}

.page-subtitle {
    color: #ffffff;
    margin: 0 0 1em;
    font-size: 1.2em;
}

.page-logo {
    width: 200px;
    margin: .7em 0 .5em;
}

.container {
    border-radius: 15px;
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.3); 
    padding: 20px;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    width: 370px;
    margin: 3em auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container p:first-child {
    font-size: 1.4em;
}

.opcoes {
    display: flex;
    margin: 4px 0 1.5em;
}

.seta {
    font-size: 1.3em;
    margin: 0 2px;
}

label {
    font-size: 1.2em;
}

input {
    margin: 5px 0 10px;
    padding: 6px;
    border-radius: 5px;
}

button {
    font-size: 0.9em;
    margin: 10px 0;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
}

#valor-convertido {
    margin: 5px 0;
}